/* CSS files add styling rules to your content */

*{
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #eaeaea;
}

h1 {
  font-family: 'Raleway', sans-serif;
  color: #373fff;
}

h2 {
  margin-top: 25px;
  margin-left: 1em;
  font-family: 'Oxygen', sans-serif;
  color: #694d75;
}

img {
  margin-bottom: 1em;
  border: 3px solid #534b62;
} 

button {
  font-family: 'Quicksand', sans-serif;
  border: 3px solid #534b62;
  background-color: #eaeaea;
  color: #694d75;
  font-size: 1em;
  margin-top: 0px;
  margin-bottom: 35px;
  padding: 5px;
  text-align: center;
}

.question {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
  
.answer-choice img {
  height: 10em;
  margin-bottom: 0px;
}

.answer-choice {
  display: flex;
  flex-align: center;
  flex-direction: column;
  margin-right: 1em;
  margin-left: 1em;
  align-items: center;
}

#header {
  border: 25px solid #331832;
  background-color: #331832;
  color: #eaeaea;
}